body {
  align-content: center;
  font-family: sans-serif;
}

body > * {
  display: flex;
  width: 98vw;
}

/* DIVISION PER SECTION */

header {
  flex-direction: row;
  background-color: black;
  color: white;
  font-weight: bold;
  height: 15%;
  align-items: center;
}

main {
  height: 80%;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
}

footer {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  margin-top: 415px;
  height: 5%;
}

/* HEADER SECTION */

#logo {
  width: 2%;
  height: 2%;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
}

/* MAIN SECTION */

#main_container {
  background-color: #000000;
  opacity: 70%;
  width: 70%;
  padding: 25px;
  align-self: center;
}

#user_results {
  display: none;
}

#options {
  display: flex;
  flex-direction: row;
  width: 40%;
  height: 30px;
  align-content: space-between;
  align-items: center;
  padding-left: 10px;
}

#employee_btn, #student_btn {
  margin-right: 20px;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 3px;
}

#student_btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  margin-left: -20px;
}

#employee_input, #student_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  color: white;
  margin-left: 13px;
}

#student_input {
  display: none;
}


#employee_input input, #student_input input {
  margin-left: 10px;
  width: 70%;
  height: 20px;
}

#search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#search_button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 10%;
  border: black;
  font-weight: bold;
  margin-top: 20px;
  height: 30px;
  align-items: center;
}

/* When search is clicked */

#user_results {
  display: none;
  flex-direction: column;
  border: 1px solid red;
  width: 70%;
  align-self: center;
  background-color: black;
  opacity: 70%;
  color: white;
}

#lbl_name {
  margin-right: 10px;
}


#register_button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 10%;
  border: black;
  font-weight: bold;
  margin: 10px;
  margin-top: 20px;
  height: 30px;
  align-items: center;
}

#name_result {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 20px;
}




